html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: rgb(253, 235, 211);
    background-color: rgb(26, 44, 82);
}

a {
    color: rgb(208, 234, 253);
}

a:hover {
    color: rgb(0, 65, 106);
}

h2 {
    color: rgb(120, 79, 253);
}

table {
    width: 100%;
}

.maxWith {
    max-width: 100%;
}

.alignCenter {
    text-align: center;
}

.caja{
    background-color: rgb(82, 43, 7);
    border: 5px solid red;
}

.d-none{
    display: none;
}